{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/password" method="post"
    oninput='confirmation.setCustomValidity(confirmation.value != password.value ? "Passwords do not match." : "");username.setCustomValidity(username.value.length < 4 ? "Username must be at least 4 characters." : "")'>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="current" name="current_password" placeholder="Current Password" type="password" required/>
        </div>

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="new_password" placeholder="New Password" type="password" required/>
        </div>

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="confirmation" placeholder="Confirm Password" type="password" required/>
        </div>

        <button class="btn btn-warning" id="submit" type="submit" disabled>Change Password</button>
    </form>
    <script>
        document.querySelector('#current').onkeyup = function() {
            if (document.querySelector('#current').value === '') {
                document.querySelector('#submit').disabled = true;
            } else {
                document.querySelector('#submit').disabled = false;
            }
        }
    </script>
{% endblock %}